/*.about-website {
  width: 100%;
  padding-inline: 25%;
  padding-top: 10px;
  font-size: 23px;
  line-height: 40px;
  background-color: rgb(40, 40, 40);
}

.about-website h2 {
  color: black;
}

.about-dev {
  width: 100%;
  padding-inline: 15%;
  padding-block: 10px;
  font-size: 23px;
  line-height: 40px;
  background-color: rgb(40, 40, 40);
}

.about-dev h2 {
  color: black;
}

.people {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.person {
  background-color: rgb(40, 40, 40);
  padding-inline: 2.5%;
  width: 27%;
  padding-bottom: 30px;
  border-radius: 20px;
  border: 0.17vw solid black;
}

.name {
  text-align: center;
  font-weight: bold;
}

.person p {
  font-size: 20px;
  line-height: 35px;
}

#feedback:hover {
  background-color: rgb(60, 60, 60);
}

#name {
  outline: none;
  border: 3px solid rgb(43, 43, 43);
  padding-inline: 2.5%;
  background-color: rgb(40, 40, 40);
  padding-block: 10px;
  font-size: 18px;
  border-radius: 50px;
  width: 43%;
  margin-bottom: 0px;
  transition: border 0.5s ease;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-block: 15px;
  line-height: 28px;
  font-size: 15px;
}

.footer a {
  color: white;
  text-decoration: none;
  background-color: black;
}

.footer a:hover {
  color: gold;
  text-decoration: underline;
}
h2 {
  color: white;
  text-align: center;
  font-size: 23px;
  margin-block: 30px;
}

hr {
  border: none;
  outline: none;
  height: 3px;
  width: 70%;
  margin-inline: 15%;
  background-color: rgb(255, 255, 255);
}

.thumbnail {
  width: 100%;
  border-radius: 20px;
}

.htmlcourse {
  width: 100%;
  display: flex;
  padding-block: 50px;
  background-color: white;
  color: black;
}

.htmlcourse h2 {
  color: black;
}

.coursep {
  width: 50%;
  padding-left: 100px;
  padding-block: 30px;
}

.coursep button {
  padding-inline: 50px;
  padding-block: 10px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.5s ease;
  font-weight: bold;
  width: 50%;
  margin-inline: 25%;
  margin-block: 30px;
}

.coursep button:hover {
  color: gold;
}

.coursep p {
  font-size: 22px;
  line-height: 40px;
}

.courseimg {
  width: 50%;
}

.announce {
  background-color: rgb(30, 30, 30);
  position: sticky;
  padding-block: 10px;
  top: 46.5px;
  z-index: 10;
}

.containers {
  width: 100%;
  background-color: rgb(40, 40, 40);
}

.card {
  background-color: rgb(50, 50, 50);
  width: 300px;
  border-radius: 10px;
  height: 320px;
  margin-block: 20px;
  margin-inline: 30px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 20px;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 15px rgb(80, 80, 80);
}

.card img {
  height: 45%;
  margin: auto;
  border-radius: 10px;
}

.title {
  color: white;
  margin-block: 0;
  margin-bottom: 10px;
  padding-block: 0;
  font-size: 25px;
}

.des {
  color: white;
  font-size: 18px;
  line-height: 25.6px;
}

#closea {
  float: right;
  width: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-right: 30px;
}

#closea:hover {
  transform: rotate(-90deg);
}

.announce h2 {
  font-size: 18px;
  text-align: left;
  padding-left: 30px;
  margin-block: 0;
}

.announce a {
  color: white;
}

.courseimg img {
  width: 70%;
  margin-inline: 15%;
  margin-block: 6%;
  border-radius: 10px;
}

.references {
  width: 100%;
}

.references h2 {
  color: black;
}

.coursepr {
  padding: 200px;
  padding-block: 30px;
}

.coursepr button {
  padding-inline: 50px;
  padding-block: 10px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.5s ease;
  font-weight: bold;
  width: 50%;
  margin-inline: 25%;
  margin-block: 30px;
}

.coursepr button:hover {
  color: gold;
}

.coursepr p {
  font-size: 22px;
  line-height: 40px;
}

.courseimgr img {
  width: 50%;
  margin-inline: 25%;
  margin-bottom: 30px;
  border-radius: 10px;
}

.lessons {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(40, 40, 40);
  justify-content: center;
  padding-bottom: 40px;
}

.lesson {
  width: 250px;
  margin: 10px;
  display: block;
  border-radius: 8px;
  text-decoration: none;
  background-color: rgb(30, 30, 30);
  transition: background-color 0.2s ease;
}

.lessonn {
  font-size: 20px;
  text-align: center;
}

.lesson:hover {
  background-color: rgb(34, 34, 34);
}

.overflowm {
  display: none;
  width: 40px;
  padding: 10px;
  height: 40px;
  border-radius: 10px;
  margin-inline: 25px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  transition: background-color 0.2s ease !important;
}

.overflowm:hover {
  background-color: rgb(30, 30, 30);
}

.overflow-menu {
  display: flex;
  flex-direction: column;
  transform: translateX(-50vw);
  width: 50vw;
  position: absolute;
  padding-block: 20px;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10000;
  background-color: rgb(30, 30, 30);
  transition: transform 0.3s ease !important;
}

.menu-slide {
  transform: translateX(0px);
  box-shadow: 0px 0px 10px rgb(30, 30, 30);
}

.secondselect {
  display: none;
}

@media (width < 800px) {
  .nav-link {
    display: none;
  }
  .secondselect {
    display: flex;
  }
}

@media (width < 500px) {
  .nav-link,
  .select {
    display: none;
  }
  .logo {
    padding-block: 8px;
    box-sizing: content-box;
    margin: 0;
  }
  .overflowm {
    display: flex;
  }
}

.section-divider {
  color: white;
  text-align: center;
  padding-block: 50px;
  font-size: 30px;
}*/

/*****Above is old style, below is css for redesigned version*****/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(25, 25, 25);
}

.movingbar {
  transform: translateX(0px) !important;
}

.macsidebar {
  position: fixed;
  top: 9vh;
  left: 3px;
  transform: translateX(-120%);
  transition: transform 0.15s ease;
  display: flex;
  flex-direction: column;
  background-color: rgba(10, 10, 10, 0.9);
  padding-inline: 8px;
  height: 90vh;
  z-index: 10000000;
  border-radius: 5px;
  padding-block: 10px;
  overflow: auto;
}

.macsidebar img {
  width: 38px;
  margin-top: 2px;
}

.macsidebar a {
  display: block;
  transition: transform 0.2s ease;
}

.macsidebar a:hover {
  transform: scale(1.15);
}

.nav {
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-inline: 100px;
  position: sticky;
  top: 0;
  background-color: rgba(25, 25, 25, 0.9);
  gap: 10px;
  z-index: 100;
}

.nav-link {
  padding-block: 10px;
  padding-inline: 15px;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  margin-block: 5px;
  position: relative;
  color: white;
  transition: background-color 0.15s;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.logo {
  margin-right: 30px;
  height: 32px;
}

.logo img {
  height: 32px;
}

.right {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: auto;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile img {
  box-sizing: content-box;
  height: 32px;
  width: 32px;
  padding: 5px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.4);
}

.select {
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  appearance: none;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 5px;
  text-align: center;
  margin-block: 5px;
  z-index: 100000;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  gap: 20px;
  transition: background-color 0.15s ease;
}

.select:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.caret {
  width: 10px;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

#cats {
  flex-direction: column;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(15, 15, 15, 0.8);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 33px;
  width: 100%;
  transform-origin: top;
  left: 0;
  display: flex;
  transition: transform 0.15s ease !important;
  padding-bottom: 5px;
  transform: scaleY(0);
}

#cats a {
  color: rgb(130, 130, 130);
  text-decoration: none;
  padding-block: 10px;
  font-size: 17px;
  transition: color 0.15s ease;
  font-weight: normal;
}

#cats a:hover {
  color: white;
}

.wrap {
  width: 100%;
  padding-inline: 100px;
  padding-bottom: 50px;
}

.hero {
  text-align: center;
  padding-block: 50px;
  color: white;
}

.hero-title {
  font-size: 40px;
  padding-bottom: 20px;
}

.hero-des {
  font-size: 20px;
  line-height: 32px;
}

.courses {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.course {
  width: 230px;
  background-color: rgb(15, 15, 15);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  text-decoration: none;
  color: white;
  transition: transform 0.25s ease, box-shadow 0.3s ease;
}

.course:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 15px rgb(50, 50, 50);
}

.course:hover img {
  transform: scale(1.05);
}

.course img {
  height: 100px;
  transition: transform 0.3s ease;
}

.course-title {
  font-size: 20px;
  font-weight: bold;
}

.footer {
  background-color: black;
  width: 100%;
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.section {
  background-color: rgb(15, 15, 15);
  border-radius: 10px;
  padding: 30px;
  width: calc(50% - 15px);
}

.section-title {
  padding-bottom: 30px;
  color: white;
  font-size: 25px;
}

.lessons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-height: 200px;
  overflow: auto;
}

.lesson {
  font-size: 18px;
  color: white;
  text-decoration: none;
  width: 45%;
}

.lesson:hover {
  text-decoration: underline;
}
